<script>
  import "./main.css";
  import Router, { location } from "svelte-spa-router";
  import Home from "./routes/Home.svelte";
  import PostJob from "./routes/PostJob.svelte";
  import Admin from "./routes/Admin.svelte";
  import NotFound from "./routes/NotFound.svelte";
  import AdminSignupEdit from "./routes/AdminSignupEdit.svelte";

  if(process.env.GTM_ID) {
    location.subscribe(value => {
      try {
        window.dataLayer.push({
          event: 'pageview',
          page: {
            path: value,
          }
        });
      } catch (err) {
        console.error(err);
      }
    });
  }

  const routes = {
    "/": Home,
    "/postjob": PostJob,
    "/admin/:component?": Admin,
    "/admin/signups/:id": AdminSignupEdit,

    // catch-all (must be last)
    "*": NotFound
  };
</script>

<div class="bg-white min-h-screen subpixel-antialiased">
  <!-- <Nav /> -->
  <div>
    <Router {routes} />
  </div>
</div>
