@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bg-gray {
  background-color: #080c11;
}

.bg-blue {
  background-color: #3500e9;
}

.grad {
  background: linear-gradient(170deg, #3ad59f 20%, #f8ff00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bebas {
  font-family: 'Bebas Neue', cursive;
}

.vt {
  font-family: 'VT323', monospace;
}

@responsive {
  .h-screen-10 {
    height: 10vh;
  }
  .h-screen-20 {
    height: 20vh;
  }
  .h-screen-50 {
    height: 50vh;
  }
}
