<script>
  import PostJob from "../components/PostJob.svelte";
  import {API, ADMIN_URL} from "../consts";
  import {jwtStore} from "../stores.js";

  export let params = {}
  let company = false;
  let jwt = $jwtStore;

  fetch(API.getSignupsById(params.id), {
    method: "GET",
    headers: new Headers({Authorization: jwt})
  })
    .then(response => {
      if (response.status === 401)
        window.location = ADMIN_URL;

      return response;
    })
    .then(response => response.json())
    .then(data => (company = data))
    .catch(console.log);
</script>

<div class="w-screen">
  <div class="flex flew-row">
    {#if company}
      <PostJob {company}/>
    {/if}
  </div>
</div>
