<script>
  import AdminSignups from "../components/AdminSignups.svelte";

  export let params = {}
</script>

<div class="w-screen">
  <div class="flex flew-row">
    <div class="text-3xl p-4">Admin</div>
    <div class="p-4">
      <a class="p-4" href="/#/">HOME</a>
      <a class="p-4" href="/#/admin/signups">Signups</a>
      <a class="p-4" href="/#/admin/locations">Locations</a>
      <a class="p-4" href="/#/admin/industries">Industries</a>
    </div>
  </div>
  <div>
    {#if !params.component || params.component === 'signups'}
      <AdminSignups />
    {:else if params.component === 'locations'}
      Locations viewing/edit/add/delete coming soon!
    {:else if params.component === 'industries'}
      Industries viewing/edit/add/delete coming soon!
    {:else}
      Admin component not found, click links above to go to the correct location!
    {/if}
  </div>
</div>
