<script>
  import Button from "../components/Button.svelte";
  import Header from "../components/Header.svelte";
  import Hero from "../components/Hero.svelte";
  import CompanyJobsCard from "../components/CompanyJobsCard.svelte";
  import MaxWidth from "../slots/MaxWidth.svelte";
  import EmployerCTA from "../components/EmployerCTA.svelte";
  import Sort from "../components/Sort.svelte";
  import Pagnation from "../components/Pagnation.svelte";
  import { onMount, beforeUpdate } from "svelte";
  import { API } from "../consts.js";
  import { slide } from "svelte/transition";
  import { quintOut  } from "svelte/easing";
  import { filter, prop, propEq, contains, compose } from "ramda";

  let allCompanies = [];
  let companies = [];
  let sortParams = {};
  let _sortParams; //quick and dirty way to check if they changed
  let PAGE_LIMIT = 10;
  let currentPage = 1;
  let totalCompanies = 0;
  let container;
  let _mounted = false;

  const resetFilters = () => {
    sortParams = {};
    currentPage = 1;
  };

  const companyFilter = (params, currentPage) => {
    // move to top of container if we are changing pages/sortParams
    if (container && _mounted) container.scrollIntoView();

    const locations = (params.locations || []).map(l => l.value);
    const industries = (params.industries || []).map(l => l.value);

    const filtered = allCompanies
      .filter(c => {
        if (locations && locations.length) {
          return locations.some(l => c.locations.includes(l));
        }
        return true;
      })
      .filter(c => {
        if (industries && industries.length) {
          return industries.some(i => c.industries.includes(i));
        }
        return true;
      });
    totalCompanies = filtered.length;
    companies = filtered.slice((currentPage-1)*PAGE_LIMIT, (currentPage-1)*PAGE_LIMIT+PAGE_LIMIT)
  };

  $: {
    companyFilter(sortParams, currentPage);
  }

  const getCompanies = () => {
    fetch(API.getJobs)
      .then(response => response.json())
      .then(data => {
        allCompanies = data;
        companyFilter(sortParams, currentPage);
      })
      .catch(err => {
        console.log(err);
      })
    .then(() => _mounted = true);
  };

  beforeUpdate(() => {
    if(_sortParams !== JSON.stringify(sortParams)) {
      currentPage = 1;
    }
    _sortParams = JSON.stringify(sortParams);
  })
  onMount(getCompanies);
</script>

<div>
  <Header />
  <Hero />
  <div class="flex justify-center py-8 min-h-screen" bind:this={container}>
    <MaxWidth>
      <div class="md:pl-8 p-4 sticky top-0 bg-white">
        <Sort bind:params={sortParams} allJobs={allCompanies} />
      </div>
      <div class="flex flex-wrap justify-center">
        {#each companies as company}
          <div
            class="w-full max-w-sm lg:w-1/2 xl:w-1/3 px-3 py-4"
            transition:slide|local={{ duration: 300, opacity: 0.5, start: 0, easing: quintOut }}
          >
            <CompanyJobsCard {company} />
          </div>
        {/each}
        {#if companies.length == 0}
          <div class="text-center text-3xl p-8 text-gray-700">
            No results...
            <span
              class="underline cursor-pointer"
              on:click={() => resetFilters()}>
              reset filters
            </span>
          </div>
        {/if}
      </div>
      {#if companies != 0}
        <Pagnation bind:currentPage={currentPage} page_size={PAGE_LIMIT} total={totalCompanies} />
      {/if}
    </MaxWidth>
  </div>
  <EmployerCTA />
</div>
