<script>
  import Button from "../components/Button.svelte";
  import Header from "../components/Header.svelte";
  import MaxWidth from "../slots/MaxWidth.svelte";
  import PostJob from "../components/PostJob.svelte";
  import { get } from "svelte/store";
  import { jwtStore } from "../stores.js";
  // check for login token

  console.log(get(jwtStore));
</script>

<div class="w-screen">
  <Header nojob />
  <div class="flex justify-center py-8 min-h-screen">
    <MaxWidth>
      <PostJob />
    </MaxWidth>
  </div>
</div>
