<script>
  import { onMount } from "svelte";
  import SvelteTable from "svelte-table";
  import { jwtStore } from "../stores.js";
  import {API, ADMIN_URL} from "../consts";

  let signups = [];
  let jwt = $jwtStore;
  let columns = [
    {
      key: 'name',
      title: 'Name',
      value: v => v.name,
      sortable: true,
    },
    {
      key: 'email',
      title: 'email',
      value: v => v.email,
    },
    {
      key: 'link',
      title: 'Link',
      value: v => v.link,
      renderValue: v => `<a href="${v.link}" class="text-red-600" target="_blank">[open]</a>`,
      sortable: false,
    },
    {
      key: 'openings',
      title: 'Openings',
      value: v => v.openings,
      sortable: true,
    },
    {
      key: 'approved',
      title: 'Approved',
      value: v => v.approved,
      sortable: true,
    },
    {
      title: 'Edit',
      renderValue: v => `<a href="/#/admin/signups/${v.id}" class="text-red-600">[edit]</a>`,
    }
  ];

  const getSignups = () =>
    fetch(API.getSignups, {
      method: "GET",
      headers: new Headers({Authorization: jwt})
    })
      .then(response => {
        if (response.status === 401)
          window.location = ADMIN_URL;

        return response;
      })
      .then(response => response.json())
      .then(data => (signups = data))
      .catch(console.log);

  onMount(getSignups);
</script>

<SvelteTable rows={signups} columns={columns} />
