<script>
  export let handleClick = () => {};
  export let inverted = false;
  export let url;
  export let target = "_blank";
  export let disabled = false;
</script>

<style>
  .disabledButton {
    background-color: #cccccc;
    color: #666666;
    border: 1px solid #999999;
    cursor: not-allowed;
  }
</style>

{#if url}
  <a href={url} {target}>
    <button
      on:click={event => handleClick(event)}
      class={(inverted ? ' bg-white text-blue shadow-xl border-2 border-blue ' : ' text-white bg-blue ') + 'px-10 py-3 rounded-full border-b-2 tracking-widest uppercase text'}>
      <slot />
    </button>
  </a>
{:else}
  <button
    on:click={event => handleClick(event)}
    class={(inverted ? ' bg-white text-blue shadow-xl border-2 border-blue ' : ' text-white bg-blue ') + 'px-10 py-3 rounded-full border-b-2 tracking-widest uppercase text'}
    disabled={disabled}
    class:disabledButton={disabled}
  >
    <slot />
  </button>
{/if}
