<script>
  import Card from "../slots/Card.svelte";
  import Button from "./Button.svelte";
  import PostJob from "./PostJob.svelte";

  export let company = {
    id: "uuid",
    logo: "url.jpg",
    name: "Amazon",
    openings: 5000,
    locations: ["Columbus", "West Jefferson", "Akron"],
    industries: ["Delivery", "Picker", "Packer", "Customer Service"],
    link: "https://www.amazon.com"
  };

  export let edit = false;

  let editMode = false;
</script>

<Card>
  <div class="flex flex-col justify-center">
    <img
      class="self-center object-contain"
      style="height:151px; padding: 8px;"
      alt={company.name}
      src={company.logo} />
    <div class="self-center text-blue text-5xl font-bold mt-4">
      {company.openings}
    </div>
    <div class="self-center mt-1 text-xl text-center">Current Job Openings</div>
    <div class="self-center text-2xl text-blue mt-5">Locations</div>
    <div
      class="self-center flex flex-wrap justify-center text-lg mt-1 h-16
      overflow-auto">
      {#each company.locations as location, index}
        <span class="whitespace-no-wrap mr-1">
          {location}{company.locations.length - 1 > index ? ',' : ''}
        </span>
      {/each}
    </div>
    <div class="self-center font-bold uppercase mt-5 text-center">
      currently seeking:
    </div>
    <div
      class="self-center flex flex-wrap justify-center text-lg mt-1 h-16
      overflow-auto">
      {#each company.industries as industry, index}
        <span class="whitespace-no-wrap mr-1">
          {industry}{company.industries.length - 1 > index ? ',' : ''}
        </span>
      {/each}
    </div>
    <div class="self-center my-5">
      <Button url={company.link}>apply</Button>
    </div>
    {#if edit}
      <div class="self-center my-5">
        <Button handleClick={() => (editMode = true)}>Edit</Button>
      </div>
    {/if}
  </div>
</Card>

{#if editMode}
  <div class="fixed top-0 left-0 w-screen h-screen overflow-y-scroll bg-white">
    <PostJob
      {company}
      on:close={() => {
        editMode = false;
      }} />
  </div>
{/if}
