<script>
  import DropDownOption from "./DropDownOption.svelte";
  import { slide } from "svelte/transition";
  export let options = [
    "Cleveland",
    "Columbus",
    "Cincinnati",
    "Dayton",
    "Akron",
    "Springfield"
  ];
  export let name = "Location";
  let isOpen = false;
  export let value;

  const setValue = v => (value = v);

  const toggleOpen = () => {
    isOpen = !isOpen;
  };
</script>

<div class="z-40">
  <div class="flex">
    <div
      class="flex-1 text-lg border-blue bg-white placeholder-gray-600
      uppercase tracking-wide p-2 cursor-pointer"
      on:click={toggleOpen}
      class:border-b-2={!isOpen}
    >
      {value || name}
    </div>
    <div class="self-center text-lg text-blue border-blue p-2"
         class:border-b-2={!isOpen}
         on:click={toggleOpen}
    >
      ▾
    </div>
  </div>

  {#if isOpen}
    <ul class="absolute top-16 z-50">
      {#each options as option, i}
        <li
          transition:slide={{ duration: 200 }}
          class="cursor-pointer bg-white hover:bg-gray-200 border-blue
          border-b-2 border-l-2 border-r-2 text-lg p-2 uppercase tracking-wide "
          class:border-t-2={i === 0}
          on:click={() => {
            setValue(option);
            toggleOpen();
          }}>
          <DropDownOption {option} />
        </li>
      {/each}
      <li
        transition:slide={{ duration: 200 }}
        class="cursor-pointer bg-white hover:bg-gray-200 border-blue border-b-2
        border-l-2 border-r-2 text-lg p-2 uppercase tracking-wide"
        on:click={() => {
          setValue(undefined);
          toggleOpen();
        }}>
        <DropDownOption option={'× reset'} />
      </li>
    </ul>
  {/if}
</div>
