<script>
  import Button from "../components/Button.svelte";
  import MaxWidth from "../slots/MaxWidth.svelte";
  import { ADMIN_URL } from "../consts.js";
</script>

<div class="h-screen md-h-screen-50 bg-blue flex justify-center">
  <MaxWidth extend="self-center">
    <div class="p-4 flex flex-col justify-center self-center">
      <div class="text-6xl font-bold text-white leading-none md:self-center">
        Attention Employers
      </div>
      <div class="text-2xl text-white self-center md:text-center mt-6">
        If you have increased hiring needs due to COVID-19 or are looking to
        connect with new talent, please post any available job opportunities
        here. We want to help people in Columbus find jobs.
      </div>
      <div class="mt-10 md:self-center">
        <Button inverted={true} url="#/postjob" target="_self">
          post a job
        </Button>
      </div>
      <div class="text-gray-100 p-8">
        <a href={ADMIN_URL}>Admin Login</a>
      </div>
    </div>
  </MaxWidth>
</div>
