<script>
  import Button from "./Button.svelte";
  import MaxWidth from "../slots/MaxWidth.svelte";
  import Logo from "../components/Logo.svelte";
</script>

<div class="flex justify-center">
  <MaxWidth>
    <div class="grid grid-cols-2">
      <div>
        <Logo/>
      </div>
      <div class="flex-1 flex flex-col justify-center">
        <div class="self-end">
          <Button url="#/postjob" target="_self">post a job</Button>
        </div>
      </div>
    </div>
  </MaxWidth>
</div>
