<script>
  import Button from "../components/Button.svelte";
</script>

<div
  class="pt-8 pb-8 md:pt-0 md:pb-0 md:h-screen-50 bg-blue-overlay flex flex-col
  justify-center bg-cover bg-center px-4">
  <div class="text-3xl md:text-6xl font-bold text-white self-center text-center">Employ Columbus Now.</div>
  <div class="text-2xl text-white self-center mt-4 md:mt-6 text-center">
    There are currently essential jobs in Ohio as
    a result of COVID-19.
    <br />
    <span class="font-bold">Find your opportunity.</span>
  </div>
  <!-- <div class="mt-6 self-center">
    <input
      class="uppercase border-2 border-blue placeholder-gray-900 tracking-widest
      px-4 py-3 m-1"
      type="text"
      placeholder="zip code" />
    <span class="m-1">
      <Button inverted={true}>find jobs</Button>
    </span>
  </div> -->
</div>
