<script>
  export let value = "";
  export let name;
</script>

<div class="p-1">
  <input
    class="m-2 p-2 border rounded-lg border-gray-900 shadow-xl"
    type="file"
    accept="image/png, image/jpeg"
    bind:value
    {name} />
</div>
