<script>
  export let value;
  export let group;
</script>

<div class="p-1">
  <input
    class="m-2 p-2 border rounded-lg border-gray-900 shadow-xl"
    type="checkbox"
    bind:group
    {value}
    name={value} />
  <label for={value}>{value}</label>
</div>
