<script>
  export let value = "";
  export let name = "name";
</script>

<style>
  .gray-border {
    /* todo: could we override tailwind themes to do this more clean like?! */
    border: 2px solid #5a5a5a; /* search #5a5a5a if you change this here, its copy pasta right now :( */
  }
</style>

<div class="md:flex md:items-center mb-6">
  <div class="md:w-1/3">
    <label
      class="block font-bold md:text-right mb-1 md:mb-0 pr-4"
      for="inline-full-name">
      {name}
    </label>
  </div>
  <div class="md:w-2/3">
    <input
      class="appearance-none border-2 gray-border rounded w-full
      py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white
      border-blue-focus"
      type="text"
      bind:value />
  </div>
</div>
