<script>
  export let currentPage; //two way bind
  export let page_size;
  export let total;

  let pages = [];
  let totalPages;

  const movePage = by => {
    return () => {
      const result = currentPage + by;
      if (result >= 1 && result <= totalPages)
        currentPage = result;
    }
  }

  const goToPage = page => () => {
    if(parseInt(page.text, 10) !== NaN) {
      currentPage = page.text;
    }
  };

  const setupPages = () => {
    const newPages = [];
    const showFrontEllipse = currentPage > 4;
    const showEndEllipse = totalPages > 5 && totalPages - 3 > currentPage;
    for (let i = 1; i <= 6; i++) {
      switch (i) {
        case 1:
          newPages.push({
            text: 1,
            isCurrentPage: 1 === currentPage,
          });
          break;
        case 2:
          newPages.push({
            text: showFrontEllipse ? '...' : 2,
            isCurrentPage: 2 === currentPage,
          });
          break;
        case 3:
          let val3;
          if(!showEndEllipse) {
            val3 = totalPages - 3;
          } else {
            val3 = showFrontEllipse
              ? currentPage % 2 === 0 ? currentPage : currentPage - 1
              : 3;
          }
          newPages.push({
            text: val3,
            isCurrentPage: val3 === currentPage,
          });
          break;
        case 4:
          let val4;
          if(!showEndEllipse) {
            val4 = totalPages - 2;
          } else {
            val4 = showFrontEllipse
              ? currentPage % 2 === 0 ? currentPage + 1 : currentPage
              : 4;
          }
          newPages.push({
            text: val4,
            isCurrentPage: val4 === currentPage,
          });
          break;
        case 5:
          const val5 = showEndEllipse ? '...' : totalPages - 1;
          newPages.push({
            text: val5,
            isCurrentPage: val5 === currentPage,
          });
          break;
        case 6:
          const val6 = totalPages > 5 ? totalPages : 6;
          newPages.push({
            text: val6,
            isCurrentPage: val6 === currentPage,
          });
          break;
      }
    }
    return newPages;
  };

  $: {
    totalPages = Math.ceil(total / page_size);
    if(totalPages < 6) {
      pages = (new Array(totalPages))
        .fill()
        .map((v,i) => ({text: i+1, isCurrentPage: i+1 === currentPage}));
    } else {
      pages = setupPages();
    }
  }

</script>

<div class="flex justify-center">
  <ul class="inline-block border">
    <li on:click={movePage(-1)} class="float-left p-2 border-r">Prev</li>
    {#each pages as page}
      <li on:click={goToPage(page)}
          class="float-left p-2 border-r"
          class:text-white="{page.isCurrentPage}"
          class:bg-blue="{page.isCurrentPage}"
      >{page.text}</li>
    {/each}
    <li on:click={movePage(1)} class="float-left p-2">Next</li>
  </ul>
</div>