<script>
  import InputText from "./InputText.svelte";
  import InputCheckbox from "./InputCheckbox.svelte";
  import InputFile from "./InputFile.svelte";
  import Button from "./Button.svelte";
  import Select from "svelte-select";
  import { API, ADMIN_URL } from "../consts.js";
  import { onMount } from "svelte";
  import {pop} from 'svelte-spa-router'


  import { jwtStore, locationsStore, industriesStore } from "../stores.js";

  import { createEventDispatcher } from "svelte";

  const dispatch = createEventDispatcher();

  export let company;

  let id;
  let name;
  let email;
  let phone_number;
  let logo;
  let openings;
  let locationsGroup = [];
  let industries = [];
  let link;
  let logoDataUrl;
  let logoInput;
  let recaptcha = false;
  let approved = false;
  let allowSubmit = false;

  const loadDataUrl = e => {
    const file = logoInput && logoInput.files[0];
    const reader = new FileReader();

    reader.addEventListener("load", () => {
      logoDataUrl = reader.result;
    });

    file && reader.readAsDataURL(file);
  };

  const handleSubmit = e => {
    let data = Object.assign({}, company, {
      name,
      email,
      phone_number,
      logo: logoDataUrl,
      openings: parseInt(openings),
      locations: convertSelectObjectToSimpleStringArray(locationsGroup),
      industries: convertSelectObjectToSimpleStringArray(industries),
      link,
      recaptcha,
    });

    if(id) {
      data.approved = approved;
    }

    // if we have an id, do a put, otherwise post
    if (id) {
      fetch(API.putSignups(id), {
        method: "PUT",
        body: JSON.stringify(data),
        headers: new Headers({
          Authorization: $jwtStore
        })
      })
        .then(resp => {
          if (resp.ok) alert("Success!");
          else {
            if(resp.status === 401)
              window.location = ADMIN_URL;

            alert("There was an error updating...");
            console.log(resp);
          }
        })
        .catch(error => alert(error));
    } else {
      fetch(API.postJob, {
        method: "POST",
        body: JSON.stringify(data)
      })
        .then(resp => {
          if (resp.ok) alert("Success!");
          else alert("There was an error signing up");
        })
        .catch(error => alert(error));
    }

    e.preventDefault();
  };

  const convertSimpleStringsToSelectObject = arr => arr.map(x => ({value: x, label: x}));
  const convertSelectObjectToSimpleStringArray = (arr=[]) => arr.map(x => x.value);

  const recaptchaDataCallback = data => recaptcha = data;

  const tryLoadRecaptcha = (tries=1) => {
    if (tries > 10)
      return;
    if (window.grecaptcha) {
      //TODO: handle hanlde recaptcha timeout
      try {
        window.grecaptcha.render('postjob-recaptcha', {
          sitekey: process.env.RECAPTCHA_SITE_KEY,
          callback: recaptchaDataCallback,
        });
      } catch(err) {
        setTimeout(() => tryLoadRecaptcha(tries++), 100 * tries);
        console.error(err);
      }
    } else {
      setTimeout(() => tryLoadRecaptcha(tries++), 100 * tries);
    }
  };

  const maybeLoadCompany = () => {
    // this could be much better...
    if (company) {
      id = company.id;
      name = company.name;
      email = company.email;
      phone_number = company.phone_number;
      logoDataUrl = company.logo;
      openings = company.openings;
      locationsGroup = convertSimpleStringsToSelectObject(company.locations);
      industries = convertSimpleStringsToSelectObject(company.industries);
      link = company.link;
      approved = company.approved;
    } else {
      tryLoadRecaptcha();
    }
  };

  const isFormValid = (id, name, email, phone_number, openings, locationsGroup, industries, link, logoDataUrl, recaptcha) => {
    let isValid = !!name && !!email && !!phone_number; //todo: check email against regex or something...
    isValid &= !isNaN(parseInt(openings));
    isValid &= (locationsGroup || []).length > 0;
    isValid &= (industries || []).length > 0;
    isValid &= !!logoDataUrl;
    isValid &= /((https?:\/\/)?(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})/.test(link);

    // we are not edit mode, check recaptcha
    if(!id) {
      isValid &= !!recaptcha;
    }

    return isValid;
  };

  $: {
    // this is silly, but its the only way i could get svelte to call isFormValid on data changes
    allowSubmit = isFormValid(id, name, email, phone_number, openings, locationsGroup, industries, link, logoDataUrl, recaptcha);
  }

  onMount(maybeLoadCompany);
</script>

<style>
  /* these values are stolen from styles applied using tailwind in the InputText component.  can i pull these values from tailwind classes somehow? */
  .themed {
    --border: 2px solid #5a5a5a;
    --borderHoverColor: #5a5a5a;
    --borderFocusColor: #3500e9;
  }
</style>

<div class="flex justify-center">

  <form class="w-full max-w-xl">
    <InputText name="Company Name" bind:value={name} />
    <InputText name="Your email" bind:value={email} />
    <InputText name="Your phone number" bind:value={phone_number} />
    <InputText name="Total approximate job openings" bind:value={openings} />
    <InputText name="Job URL" bind:value={link} />

    <div class="md:flex md:items-center mb-6">
      <div class="md:w-1/3">
        <label
          class="block font-bold md:text-right mb-1 md:mb-0 pr-4"
          for="inline-full-name">
          Industries
          <br />
          (select all that apply)
        </label>
      </div>
      <div class="md:w-2/3 themed">
        <Select items={$industriesStore} bind:selectedValue={industries} isMulti={true}></Select>
      </div>
    </div>

    <div class="md:flex md:items-center mb-6">
      <div class="md:w-1/3">
        <label
          class="block font-bold md:text-right mb-1 md:mb-0 pr-4"
          for="inline-full-name">
          Locations
          <br />
          (select all that apply)
        </label>
      </div>
      <div class="md:w-2/3 themed">
        <Select items={$locationsStore} bind:selectedValue={locationsGroup} isMulti={true}></Select>
      </div>
    </div>

    <div class="md:flex md:items-center mb-2">
      <div class="md:w-1/3">
        <label
          class="block font-bold md:text-right mb-1 md:mb-0 pr-4"
          for="inline-full-name">
          Logo
        </label>
      </div>
      <input
        type="file"
        name="logo"
        on:change={e => loadDataUrl(e)}
        bind:this={logoInput} />
    </div>

    <div class="md:flex md:items-center mb-6">
      <img class="h-24" src={logoDataUrl} />
    </div>

    {#if !id}
    <div class="md:flex md:items-center mb-6">
      <div id="postjob-recaptcha"></div>
    </div>
    {/if}

    {#if id}
      <div class="md:flex md:items-center mb-6">
        <div class="md:w-1/3">
          <label
            class="block font-bold md:text-right mb-1 md:mb-0 pr-4"
            for="inline-full-name">
            Approved
            <br />
            (This makes job posting show up on home screen)
          </label>
        </div>
        <div class="md:w-2/3 themed">
          <input type="checkbox" bind:checked={approved} />
        </div>
      </div>
    {/if}

    <div class="flex flex-col justify-center">
      <Button handleClick={handleSubmit}
              disabled={!allowSubmit}>
        Submit
      </Button>
      <div class="text-xs text-gray-800 p-2">
        Our team will review your submission and post live as soon as possible.
      </div>
    </div>

    {#if id}
      <Button
        handleClick={e => {e.preventDefault(); pop();}}>
        Close
      </Button>
    {/if}
  </form>

</div>
