<script>
  import Select from "svelte-select";
  import DropDown from "./DropDown.svelte";
  export let params;
  export let allJobs;

  const reduceUnique = (prev, current) => {
    if (!~prev.indexOf(current))
      prev.push(current);
    return prev;
  };

  let filteredLocations = [], filteredIndustries = [];
  $: {
    // //filter locations based on available jobs, not just full list
    filteredLocations = allJobs
      .flatMap(j => j.locations)
      .reduce(reduceUnique, []);

    //filter industries based on available jobs, not just full list
    filteredIndustries = allJobs
      .flatMap(j => j.industries)
      .reduce(reduceUnique, []);
  }
</script>

<style>
  /* these values are stolen from styles applied using tailwind in the InputText component.  can i pull these values from tailwind classes somehow? */
  .themed {
    --border: 2px solid #3500e9;
    --borderHoverColor: #3500e9;
    --borderFocusColor: #3500e9;
    --placeholderColor: #3500e9;
  }
</style>

<div class="flex flex-wrap justify-center">
  <div class="flex self-center justify-center md:w-full flex-col md:flex-row">
    <div class="md:pt-0 md:pr-8 themed">
      <Select
        items={filteredLocations}
        bind:selectedValue={params.locations}
        isMulti={true}
        placeholder="Filter Locations"
      />
    </div>
    <!-- <div class="pt-2 md:pt-0">
      <DropDown
        bind:value={params.numJobs}
        options={['5000', '1000', '500', '100', '0-50']}
        name={'# of jobs'} />
    </div> -->
    <div class="pt-2 md:pt-0 themed">
      <Select
        items={filteredIndustries}
        bind:selectedValue={params.industries}
        isMulti={true}
        placeholder="Filter Industries"
      />
    </div>
  </div>
</div>
